<div class="container"
  fxLayout="column"
  fxLayoutGap="10px">

  <div fxFlex>
    <div>
        <h3>Contact Us</h3>
        <hr>
    </div>
  </div>

  <div @expand fxFlex>
    <h3>Location Information</h3> 
    <div fxLayout="column" fxLayout.gt-sm="row">
      <div fxFlex="50" fxFlexOffset="20px"> <!-- fxFlexOffset =some margin from the left-->
        <h4>Our Address</h4>
        <address>
          121, Clear Water Bay Road<br>
          Clear Water Bay, Kowloon<br>
          HONG KONG<br>
          <i class="fa fa-phone"></i>: +852 1234 5678<br>
          <i class="fa fa-fax"></i>: +852 8765 4321<br>
          <i class="fa fa-envelope"></i>: 
                <a href="mailto:confusion@food.net">confusion@food.net</a>
        </address>
        <p></p>
        <div>
          <a mat-raised-button href="tel:+85212345678"><i class="fa fa-phone"></i> Call</a>
          <a mat-raised-button><i class="fa fa-skype"></i> Skype</a>
          <a mat-raised-button href="mailto:confusion@food.net"><i class="fa fa-envelope-o"></i> Email</a>
        </div>
        </div>
      <div fxFlex="40">
        <h4>Map of our Location</h4>
      </div>
    </div>

  </div>
  <div fxFlex fxFlexOffset="20px" class="form-size">
    <h3>Send us your Feedback</h3> 
   
    <!-- <p>{{ feedbackForm.value | json }} {{ feedbackForm.status | json }}</p> -->
    <!-- <h2 *ngIf="testing"> testing is equal to {{testing}}</h2> -->

    <form @expand [hidden]="showFormState||loading" novalidate [formGroup]="feedbackForm" #fform="ngForm" (ngSubmit)="onSubmit()">
      <p>
        <mat-form-field class="half-width">
          <input matInput formControlName="firstname" placeholder="First Name" type="text" required>
          <!-- <ng-container *ngIf="feedbackForm"> -->
            <mat-error *ngIf="formErrors.firstname">{{formErrors.firstname}}</mat-error>
          <!-- </ng-container> -->
        </mat-form-field>
        <mat-form-field class="half-width">
          <input matInput formControlName="lastname" placeholder="Last Name" type="text" required>
          <mat-error *ngIf="formErrors.lastname">{{formErrors.lastname}}</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="half-width">
          <input matInput formControlName="telnum" placeholder="Tel. Number" type="tel" required>
          <mat-error *ngIf="formErrors.telnum">{{formErrors.telnum}}</mat-error>

        </mat-form-field>
        <mat-form-field class="half-width">
          <input matInput formControlName="email" placeholder="Email" type="email" required>
          <mat-error *ngIf="formErrors.email">{{formErrors.email}}</mat-error>
        </mat-form-field>
      </p>
      <table class="form-size">
        <td>
          <mat-slide-toggle formControlName="agree">May we contact you?</mat-slide-toggle>
        </td>
        <td>
          <mat-select placeholder="How?" formControlName="contacttype">
            <mat-option *ngFor="let ctype of contactType" [value]="ctype">
              {{ ctype }}
            </mat-option>
          </mat-select>
        </td>
        </table>
      <p>
        <mat-form-field class="full-width">
          <textarea matInput formControlName="message" placeholder="Your Feedback" rows=12 required></textarea>
          <mat-error *ngIf="feedbackForm.get('message')!.hasError('required') && feedbackForm.get('message')!.touched">message is required</mat-error>
        
        </mat-form-field>
      </p>
      <button type="submit" [disabled]="!feedbackForm.valid" mat-button class="background-primary text-floral-white">Submit</button>
    </form>
    
    <!-- spinner -->
  <div  [hidden]="!loading"> 
    <mat-spinner></mat-spinner><h4>Submitting form</h4>
  </div>
    <!-- when new feedback is submited -->
    <div @expand *ngIf="feedSubmition" [hidden]="!showFormState" >
      <h3 >Your Submission </h3>
      <!-- <p>error ! {{feedError}}</p> -->
      <h4>First Name : {{feedSubmition.firstname}} </h4>
      <h4>Last Name : {{feedSubmition.lastname}}</h4>
      <h4>Tel number : {{feedSubmition.telnum}}</h4>
      <h4>Email : {{feedSubmition.email}}</h4>
      <h4>Contact you : {{feedSubmition.agree}}</h4>
      <h4>How? : {{feedSubmition.contacttype}}</h4>
      <h4>Feedback : {{feedSubmition.message}} </h4>
    </div>
  </div>
  <!-- display errors -->
  <div @expand fxFlex *ngIf="feedError">
    <h2>Oups</h2>
    <h4>{{feedError}}</h4>
    <p>Pleaze try again </p>
</div>
	
	

</div>
	
	
	
