
<!-- grid -->
<div class="container"
    fxLayout="row" 
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutGap="10px"
    fxLayoutAlign="space-around center"
    >

    <!-- display the selected item -->
    <div fxFlex="30">
        
        <mat-card class="dish-card" *ngIf="dish">
            <mat-card-header>
              <div mat- card-avatar class="dish-header-image"></div>
              <mat-card-title >{{dish.name | uppercase}}</mat-card-title>
              <!-- <mat-card-subtitle>{{dish.name | uppercase}}</mat-card-subtitle> -->
            </mat-card-header>
            <img mat-card-image weight="100" height="300px" src={{dish.image}} alt={{dish.image}}>
            <mat-card-content>
              <p>
                {{dish.description}}
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button [routerLink] = "['/dishdetail',prev]"><span class="fa fa-chevron-left fa-lg"></span></button>
              <button mat-button (click)='goBack()'>BACK</button>
              <button mat-button >LIKE </button>
              <button mat-button>SHARE</button>
              <button mat-button [routerLink] = "['/dishdetail',next]"><span class="fa fa-chevron-right fa-lg"></span></button>
            </mat-card-actions>
          </mat-card>
          
          <div [hidden]="dish"> <!-- if true hide this element-->
            <mat-spinner></mat-spinner><h4>Loading... Please Wait</h4>
          </div>
    </div>
    
      <!-- comments here -->
    <div fxFlex="40">
      <div fxLayout="column">
        <div fxFlex>
        <mat-list *ngIf="dish">
          <h2>Comments</h2>
          <mat-list-item *ngFor="let comment of dish.comments" >
            <div mat-line>{{comment.comment}}</div>
            <div mat-line>{{comment.rating}} Stars</div>
            <div mat-line>-- {{comment.author}} {{comment.date | date}}</div>
          </mat-list-item>
        </mat-list>
      <div [hidden]="dish"> <!-- if true hide this element-->
        <mat-spinner></mat-spinner><h4>Loading... Please Wait</h4>
      </div>
      <!-- show of the new comment -->
      <mat-divider></mat-divider>
      <mat-list>
        <mat-list-item *ngIf="!commentForm.invalid" >
          <div mat-line>{{commentForm.value.comment}}</div>
          <div mat-line>{{commentForm.value.rating}} Stars</div>
          <div mat-line>-- {{commentForm.value.author}} </div>
        </mat-list-item>
      </mat-list>
      </div>

  <div fxFlex class="commentForm">
    <p>{{ commentForm.value | json }} {{ commentForm.status | json }}</p>
    <!-- reactive form for comments submition -->
    <form novalidate [formGroup]="commentForm" #fform="ngForm" (ngSubmit)="submitComment()">

     <mat-form-field appearance="standard">
        <mat-label >Name </mat-label>
        <input matInput formControlName="author" required>
        <mat-error *ngIf="formErrors.author">{{formErrors.author}}</mat-error>
        
      </mat-form-field>

      <mat-slider min="1" thumbLabel tickInterval="1" max="5" formControlName="rating" >Stars </mat-slider>

      <mat-form-field appearance="standard">
        <mat-label >Your comment here..</mat-label>
        <textarea matInput formControlName="comment" required></textarea>
        <mat-error *ngIf="formErrors.comment">{{formErrors.comment}}</mat-error>
      </mat-form-field>
      <mat-card-actions>
        <button mat-raised-button color="accent" [disabled]="!commentForm.valid" type="submit" >Share</button>
      </mat-card-actions>
    </form>
  </div>
</div>
</div>
  
    <!-- <mat-grid-tile *ngFor="let comment of selectedDish.comments"> -->
 



</div>
